.npm
.DS_Store
.pnp
.pnp.js
.idea
.eslintignore
.eslintrc.json
.eslintcache
.github
.astro/
.svelte-kit/
.vite/
.turbo/

typos.toml
vitest.config.ts

/examples
/node_modules
/src
/test
/coverage
/build
